@use 'variables' as vars;
@use 'mixins' as *;
@use 'sass:map';


body {
    margin: 0;
    background-color: color(extra-colors, white-100);
    color: color(light, text);
    font-family: vars.$font-body;  // Usamos la variable correctamente referenciada
    transition: background-color 0.3s ease, color 0.3s ease;
    @include font-size(m);
  }

header {
  background-color: color(light, primary);
  color: white;
  padding: 1rem;
  text-align: center;
}

button {
  background-color: color(light, link);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color(light, hover);
  }
}

// Tema oscuro (modo noche)
body.noche {
  background-color: color(dark, background);
  color: color(dark, text);
}

header.noche {
  background-color: color(dark, primary);
}

button.noche {
  background-color: color(dark, link);

  &:hover {
    background-color: color(dark, hover);
  }
}

img{
    width: 100%;
    height: 100%;
}

.cards-container {
  @include flex-row;  
 
  margin: 15px;

  // Estilo para las tarjetas dentro de .cards-container - (swiper o sueltas)
  .card {
    @include flex(column, flex-start, flex-start);
    background-color: color(extra-colors, white-100); 
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }

    &_info{
        width: 100%;
    }


    h2,h3,h4,h5{
        margin: 0 0 16px !important;
    }
  
    .technologies{
        gap: 15px 20px;

        .tech-item{
            width: fit-content;
        }
    }


    // Modo noche
    body.noche & {
      background-color: color(dark, extra-dark-background); 
      color: color(dark, text);
    }
  }


}

.container {
    @include container;
}

.footer {
    @include flex-center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: color(light, primary);
    color: white;
  
    a {
      color: white;
      font-size: map.get(vars.$font-sizes, xl);
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  
    &.noche {
      background-color: color(dark, primary);
    }
  }
  





