@use 'variables' as vars;
@use 'mixins' as *;
@use 'sass:map';

header {
  background-color: color(light, primary);
  color: white;
  padding: 1rem;
  text-align: center;

  &.noche {
    background-color: color(dark, primary);
  }
}

.header-nav {
    @include flex($justify: space-between, $align: center, $wrap:wrap);
    
    @media (min-width: map.get(vars.$breakpoints, tablet))  {
      padding: 1rem 2rem;
    }
  
    h1 {
      font-family: vars.$font-title;
      font-size: map.get(vars.$font-sizes, xl3);
    }
  }
  

.footer {
  @include flex-center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: color(light, primary);
  color: white;

  a {
    color: white;
    font-size: map.get(vars.$font-sizes, xl);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &.noche {
    background-color: color(dark, primary);
  }
}

.container {
  @include container;
}
