@use 'variables' as vars;
@use 'mixins' as *;
@use 'sass:map';

section {
  margin-bottom: 4rem;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);


  h2 {
    font-family: vars.$font-title;
    font-size: map.get(vars.$font-sizes, xl3);
    margin-bottom: 1.5rem;
    color: color(light, primary);

    body.noche & {
      color: color(dark, primary);
    }
  }

  h3 {
    font-size: map.get(vars.$font-sizes, xl);
    margin: 1rem 0 0.5rem;
    color: color(light, text);

    body.noche & {
      color: color(dark, text);
    }
  }

  p {
    font-size: map.get(vars.$font-sizes, m);
    line-height: 1.6;
    margin-bottom: 1rem;
    color: color(light, text);

    body.noche & {
      color: color(dark, text);
    }
  }

  ul {
    padding-left: 1.5rem;
    list-style: disc;

    li {
      margin-bottom: 0.5rem;
      font-size: map.get(vars.$font-sizes, s);
    }
  }

  a {
    color: color(light, link);
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
      color: color(light, hover);
    }

    body.noche & {
      color: color(dark, link);

      &:hover {
        color: color(dark, hover);
      }
    }
  }
}


.feedback{
    margin: 0;
    background-color: color(extra-colors, warm-background);
    border: 0;

    i{
        color: color(dark, primary);
        font-size: 4rem
    }

    &_msg{
        margin-bottom: 4rem;
    }

    &_name{
        text-align: end;
        position: relative;

        i{
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
        }
    }

    body.noche & {
        background-color: color(extra-colors, dark-background);
    }

}